version: '3.8'

services:
  db:
    image: postgres:15
    restart: always
    environment:
      POSTGRES_USER: username
      POSTGRES_PASSWORD: password
      POSTGRES_DB: event_integration
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    restart: always
    ports:
      - "6380:6379"

  jaeger:
    image: jaegertracing/all-in-one:latest
    ports:
      - "16686:16686"
      - "14268:14268"

  app:
    build: .
    ports:
      - "3001:3001"
    depends_on:
      - db
      - redis
      - jaeger
    environment:
      - DATABASE_URL=postgresql://username:password@db:5432/event_integration?schema=public
      - REDIS_URL=redis://redis:6379
    volumes:
      - .:/app
      - /app/node_modules

volumes:
  postgres_data: